{% extends 'Gaming/base_gaming.html' %}


{% block title%}
    {{title}} - {{block.super}}
{% endblock%}

{% block content %}

<div><h2>Добро пожаловать в игру</h2></div>

<form action="{% url 'yours_name' %}" method="post">
    {% csrf_token %}

    {% for field in form %}
    <div class="form-group">
        {{ field.label }}
        {{ field }}
    </div>

    {% endfor %}
    
<button type="submit" class="btn btn-primary"> Поехали </button>
</form>

<form action="{% url 'dtny' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary"> dtny </button>

{% endblock %}

