{% extends 'Gaming/base_gaming.html' %}

{% block title %}
    {{title}}  - {{block.super}}
{% endblock %}

{% block script %}
    <script type="text/javascript"> 
        function init() 
        {
            sec = {{ seconds }};
            timerId = setInterval(tick, 1000);      
        } 

        function tick()
        {
            sec--; 
            if (sec<10) {document.getElementById("timer"). childNodes[0].nodeValue = "00:0" + sec; }
            else {document.getElementById("timer"). childNodes[0].nodeValue = "00:" + sec; }

            if (sec == 0) clearInterval(timerId);
                          
        } 

    </script>
{% endblock %}

{% block content %}
    <form action="{% url 'game_page' %}" method="get">
        {% csrf_token %} 
        <div id="timer" style="font-size: 600%">00:{{ seconds }}</div> 
        <input type="submit" class="btn btn-primary" value="Следующий" style="width:150">
    </form>
{% endblock %}        
 