{% extends 'Gaming/base_gaming.html' %}

{% block title %}
    {{title}}  - {{block.super}}
{% endblock %}

{% block script %}
    <script type="text/javascript"> 
        function init() 
        {
            sec = {{ seconds }};
            timerId = setInterval(tick, 1000);
        } 
        function tick()
        {
            sec--; 
            if (sec<10) {document.getElementById("timer"). childNodes[0].nodeValue = "00:0" + String(sec); }
            else {document.getElementById("timer"). childNodes[0].nodeValue = "00:" + String(sec); }

            if (sec == 0) clearInterval(timerId);
                {% url 'game_page' %}
        } 

    </script>
{% endblock %}

    {% block content %}
        <div id="timer" style="font-size: 600%">00:{{ seconds }}</div> 
    {% endblock %}        
 
</html>