<html>
<head>
    <title>
        {% block title %}
            {{ title }}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <form action="{% url 'setings_url' %}" method="get">
        <input type="submit" class="btn btn-primary" value="Action" name=Action style="width:130"> 
        <input type="submit" class="btn btn-primary" value="Easy"   name=Easy style="width:130"> 
        <input type="submit" class="btn btn-primary" value="Medium" name=Medium style="width:130"> 
        <input type="submit" class="btn btn-primary" value="Hard for men" name=HardForMen style="width:130"> 
        <input type="submit" class="btn btn-primary" value="Hard for women" name=HardForWomen style="width:140"> 
        <input type="submit" class="btn btn-primary" value="Bonus" name=Bonus style="width:130"> 
        <input type="submit" class="btn btn-primary" value="Home"  name=Home style="width:130"> 
    </form>
    
    <div class="container mt-5">
        <div class="row">
            <div class="col-6 offset-md-2">
                {% block content %}
                    There is any content for you
                {% endblock %}
            </div>
        </div>
    </div>

</body>
</html>